
    <div>
        <h2>DANH SÁCH BÀI TẬP</h2><br />
        Bài 3. Tạo một trang web thực hiện chức năng đăng ký thông tin nhân viên gồm các thông tin:
        Mã số nhân viên, họ tên, ngày sinh, email, mật khẩu, đơn vị và ảnh đại diện có giao diện (trang
        Index.cshtml - lưu ý, dùng thuộc tính new {enctype = "multipart/form-data" } khi
        sử dụng đối tượng File UpLoad) như sau:<br />
        Bài 4. Tạo 1 trang web cho phép đăng nhập vào
        email và gửi mail đến 1 địa chỉ khác (dùng mail
        yahoo hoặc gmail). Thông tin gửi mail bao gồm:
        địa chỉ mail người gửi, mật khẩu người gửi, địa
        chỉ mail cần gửi đến, Tiêu đề, nội dung gửi có giao
        diện như sau:
        Lưu ý, email phải nhập đúng định dạng và bắt buột
        không được rỗng.<br />


    </div>